@charset "utf-8";
/* 
    Document   : estilos
    Created on : 15-sep-2014, 20:46:19
    Author     : Gustabo
    Description:
        Purpose of the stylesheet follows.
*/


body {
    background: #FFE4C4;
}
input.mayuscula {
    text-transform: uppercase;
}

#formMotor{
    margin-top: 5em;
}